doctype html
html
	head
	meta(charset='utf-8')
	meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0")
	title
	link(href='/static/css/app.css' rel='stylesheet' type='text/css')
	link(href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,700,900,900italic' rel='stylesheet' type='text/css')

body

	h1 Hello, world!

	footer
		p &copy; 2016 Matthijs van Leeuwen &amp; Brendan Spijkerman

	
	//- script(src='vendor/Pa.min.js')
	//- script(src='vendor/velocity.min.js')
	//- script(src='vendor/jquery.inview.min.js')
	script(src='static/js/vendor.js')
	script(src='static/js/app.js')